asyncio == 3.4.3
fastapi[standard] == 0.115.12
gtfs-realtime-bindings == 1.0.0
pyhumps == 3.8.0
lupa == 2.5
pandas == 2.2.3
protobuf == 6.31.0
pydantic == 2.11.5
pydantic_core == 2.33.2
requests == 2.32.3
simplejson == 3.20.1
typing-inspection==0.4.1
typing_extensions==4.13.2
unzip == 1.0.0